* {
  margin: 0;
  padding: 0;
}


.logo {
    font-family: 'Montez', cursive;
    font-size: 55px;
    color: #353839;
}

.navbar {
position: fixed;
top: 0;
left: 0;
right: 0;
height: 75px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 28px;
border-bottom: 3px solid rgba(0,0,0,0.06);
box-shadow: 0 1px 0 rgba(0,0,0,0.06);
background-color: rgba(212, 178, 76, 0.8); ;
}

.logo {
    position: fixed;
    left: 42%;
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: 30px;
    color: #353839;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  font-family: "Alice", serif;
  padding: 6px 8px;
}

.nav-left a:hover,
.nav-right a:hover {
  transform: scale(.98);
  opacity: .9;
}

.dropdown {
    min-width: 90px;
    padding: 15px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    background-color: rgba(212, 178, 76, 0.8);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
}

.dropdown-container:hover .dropdown {
    opacity: 1;
    visibility: visible;
    position: absolute;
}

.dropdown a {
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding: 8px;
    margin: 10px;
}

body {
        background-image: url("https://static.tildacdn.one/tild3039-6630-4637-b932-336566396636/1-1C.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed; 
        height: 100%;  
}

section {
     display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: 'Alice', serif;
    color: #353839;
}

section h2 {
    font-size: 50px;
    height: 10vh;
}

section p {
    font-size: 25px;
}

button {
    display: flex;
    background-color: rgba(212, 178, 76, 0.8);
    color:(#353839);
    padding: 12px 30px;
    border: none;
    font-family: 'Alice', serif;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s ease;
    text-decoration: none;
}

button a {
    text-decoration: none;
    color: #353839;
}

button:hover {
    background-color: white
}

footer {
padding: 28px 20px;
background: #f8f8f8;
text-align: center;
border-top: 1px solid rgba(0,0,0,0.04);
}

footer h2 {
    margin: 0 0 6px;
    font-family: 'Montez', cursive;
    font-size: 45px;
}

footer h3 {
    font-family: 'Alice', serif;
    text-align: center ;
    font-size: x-large;
}

footer p {
    margin-bottom: 5px;
    font-family: 'Alice', serif;
    font-size: 16px;
    text-align: center;
}

footer ul a {
    text-decoration: none;
    margin: 25px;
    font-size: x-large;
    gap: 20px;
    text-align: center;
    color: #353839;
    cursor: pointer;
}

footer h4 {
    margin: auto;
    font-family: 'Alice', serif;
    font-size: small;
}

