* {
  margin: 0;
  padding: 0;
}


.logo {
    font-family: 'Montez', cursive;
    font-size: 55px;
    color: #353839;
}

/*yung boong navigation*/
.navbar {
position: absolute;
top: 0;
left: 0;
right: 0;
height: 75px;
display: flex;
align-items: center;
justify-content: space-between;
padding: 10px 28px;
border-bottom: 3px solid rgba(0,0,0,0.06);
box-shadow: 0 1px 0 rgba(0,0,0,0.06);
background-color: rgba(212, 178, 76, 0.8);
}

.logo {
    position: fixed;
    left: 42%;
    text-align: center;
    font-family: 'Montez', cursive;
    font-size: 30px;
    color: #353839;
}

.nav-left, .nav-right{
    display: flex;
    align-items: center;
    gap: 18px;
}

.nav-left a,
.nav-right a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
  font-size: 16px;
  font-family: "Alice", serif;
  padding: 6px 8px;
}

.nav-left a:hover,
.nav-right a:hover {
  transform: scale(.98);
  opacity: .9;
}

.dropdown {
    min-width: 90px;
    padding: 15px 8px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 0px;
    position: absolute;
    top: 100%;
    border-radius: 5px;
    background-color: rgba(212, 178, 76, 0.8);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 25px 50px -12px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-in-out;
    z-index: 2000; /* para pag nag hover sa button hindi siya matakpan ng ibang container */
}

.dropdown-container:hover .dropdown {
    opacity: 1;
    visibility: visible;
    position: absolute;
}

.dropdown a {
    font-size: 14px;
    border-bottom: 1px solid #000000;
    padding: 8px;
    margin: 10px;
}

/* body */

/* left body */
.leftBody{
  width: 70%;    
  height: 70%;      
  max-width: 800px;    
  max-height: 600px;
  margin-top: 200px;  
  margin-left: 20px;   /* left side*/
  margin-right: auto;  /* center */
  background: #f0f0f0;
  padding: 20px;
  font-family: "Alice", serif;
  position: relative;
  box-sizing: border-box;  /* ensures padding is included in width */
}


.container {
  display: flex;
  justify-content: space-between; /* para yung botton at yung header nasa dulo ng container*/
  align-items: center;            
  margin-bottom: 20px;           
}

.continueShopping
{
  width: 150px;
  height: 25px;
  margin-left: 100px; 
  font-family: "Alice", serif;
  font-size: 15px;
  font-weight: bold;
  background-color: rgba(212, 178, 76, 0.8);
  border:none;
}

.carttext
{
  font-size: 30px;
  font-style: Bold;
  font: optional;
}

.leftBody hr
{
  width: 100%;
  margin: 5px auto;
  border: none; 
  height: 2px;
  background-color: rgba(212, 178, 76, 0.8);
}

.iteminfo
{
  display: flex;                   
  align-items: center;             
  justify-content: space-between; 
  gap: 5px;                       
  margin-top: 10px;
}

/* optional styling for buttons & number */
.numItem {
  display: flex;              
  align-items: center;       
  gap: 10px;                 
  border: 2px solid rgba(212, 178, 76, 0.8);     
  padding: 5px 10px;          
  width: fit-content;         
}

.itemimage
{
  width: 150px;
  height: 150px;
  border: 1px solid;
  margin-right: 10px; /* space sa information ng item*/
  float: left;
}

.numItem button {
  padding: 5px 10px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.iteminfo p {
  width: 200px;
  height: 50px;
  font-size: 15px;  
  font-size: 15px;
  margin-right: 15px;
  font-family: "Alice", serif;
}

#price
{
  font-weight: normal;
  padding-bottom: 15px;
}

/*group again para malagay ko sa ilalim ng plus at minus yung remove*/
.quantity-section {
  display: flex;
  flex-direction: column;
  align-items: center; /* or flex-end to right-align */
}

.remove {
  color: gray;
  padding: 20px;
  text-align: center;  /* ensures the text itself is centered */
  cursor: pointer;
}